body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#key_box{
    background-color: whitesmoke;
    border: 5px solid lightgray;
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#key_area{
    width: 350px;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#display_key{
    font-size: 100px;
}

#key_info{
    padding: 20px;
}

#key_info p{
    font-size: 25px;
    text-align: center;
}