body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #343a40; */
    background-color: #181818;
    flex-direction: column;
}


.font_white{
    color: aliceblue;
}


#key_box{
    /* background-color: whitesmoke; */
    background-color:  #2b2e31;
    border: 5px solid  aliceblue;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#key_area{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display_key{
    font-size: 170px;
}

.card_info{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
}

.card{
    color: aliceblue;
    background-color: #181818;
    border-radius: 10px;
    text-align: center;
}

.wide{
    grid-column: span 2;
}



/* 
#menu{
    width: 70%;
    height: 200px;
    background-color: #2b2e31;
    border: 5px solid orange;
    border-radius: 25px;
    margin-top: 20px;

} */