body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #343a40; */
    background-color: #181818;
    flex-direction: column;
}


.font_white{
    color: aliceblue;
}


#key_box{
    /* background-color: whitesmoke; */
    background-color:  #2b2e31;
    border: 5px solid orange;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#key_area{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display_key{
    font-size: 170px;
}

#key_info{
    padding: 20px;
}

#key_info p{
    font-size: 25px;
    text-align: center;
}


#menu{
    width: 70%;
    height: 200px;
    background-color: #2b2e31;
    border: 5px solid orange;
    border-radius: 25px;
    margin-top: 20px;

}